<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-init="navbarCollapsed=true" ng-click="navbarCollapsed=!navbarCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <i class="icon-rocket"></i> Twitter Clone
                    </a>
                </div>
                <div class="collapse navbar-collapse" collapse="navbarCollapsed">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-controller="AuthController">
                            <button ng-show="hasAuth==true" class="btn btn-default btn-logout" ng-click="logout()">
                                <i class="icon-logout"></i>
                                Logout
                            </button>
                            <button ng-show="hasAuth==false" ui-sref="login" class="btn btn-default btn-logout">
                                <i class="icon-login"></i>
                                Login
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>