<div class="container" id="ui-elements">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#">Tweets</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Following</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Followers</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Favorites</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Lists</a>
                </li>
            </ul>

        </div>
        <div class="col-xs-12 col-md-8">

            <div class="jumbotron">
                <h1>PHP Meetup!</h1>
                <p>Let's build a Twitter clone.</p>
                <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
            </div>

            <ul class="list-group tweet-list-group">
                <li class="panel-heading list-group-item">
                    <h4>Tweets</h4>
                </li>
                <li class="list-group-item tweet-list-item clearfix">
                    <a class="pull-left" href="#">
                        <img class="tweet-avatar" src="..." width="48">
                    </a>
                    <div class="tweet-body pull-left">
                        <h4 class="tweet-heading">Media heading</h4>
                        <p class="tweet-content">140 characters or less</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>