<div class="container" id="users">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="user in users">
            
            <div class="thumbnail">
                <img ng-src="{{user.background_photo}}">
                <div class="caption">
                    <h3>{{user.name}}</h3>
                    <h5>@{{user.handle}}</h5>
                    <p>{{user.bio}}</p>
                    <p>
                        <a href="#/users/{{user.handle}}" class="btn btn-primary" role="button">View Profile</a>
                    </p>
                </div>
            </div>
                
        </div>
    </div>
</div>